<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS functions</title>
</head>
<body>
<h1>Neka web stranica</h1>
<h5 id="manjiTitle">Ovdje je neki manji naslov</h5>
<button onclick="mijenjamSadrzaj()">Vozdra dugme</button>
<button onclick="prozorPrikazi()">Postavke GlassFish</button>
<button onclick="consolnoPrikazi()">Prikazi Konzolne GlassFish status</button>
<button onclick="prozorPrintaj()">Isprintaj prozor</button>
<script>
    document.getElementById('manjiTitle').innerHTML='Mijenjam naslov';
    function mijenjamSadrzaj(){
        document.write("Vozdra raja. Naucili smo jos malo i JS kod.");
    }
    function prozorPrikazi(){
        window.alert("Muamer je podesio GlassFish. Trebalo mu je samo 3 minute.");
    }
    function consolnoPrikazi(){
        console.log("Muamer je uspio...");
    }

    function prozorPrintaj(){
        window.print("Isprintaj prozor..");
    }
</script>
</body>
</html>